<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
body{
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(#ed9a2d, #ed532d);
    text-align: center;
}